* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#container {
  background-image: url('../public/background.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.section {
  background-color: rgb(228, 226, 226);
  border: 0.2rem solid gold;
  border-radius: 1rem;
  margin: 5rem 5rem;
  /* overflow: hidden; */
  padding: 2rem;
  width: fit-content;
  /* width: 50vw; */
}

.footer {
  margin-top: auto;
}