* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Georgia, 'Times New Roman', Times, serif
}

#container {
  background-image: url('../public/background.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.section {
  background-color: rgb(219, 219, 219);
  border: 0.2rem solid rgb(93, 109, 126);
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  height: 78.6vh;
  margin: 4rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem 1rem 1rem;
  width: 50vw;
  /* min-width: 33rem; */
}

.footer {
  margin-top: auto;
}