#container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  margin: 0rem 5rem 3rem;
  text-align: center;
}

.table {
  background-color: white;
}

.tableHead {
  font-size: 2rem;
}

.tableBody {
  font-size: 1.6rem;
  text-align: left;
}

table, th, td {
  border: 0.1rem solid black;
  border-collapse: collapse;
  padding: 1rem;
}