#container {
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: 0rem 5rem 3rem;
}

.button {
  margin: 1rem 0.5rem;
  padding: 0.2rem 0.5rem;
}

.text {
  font-size: 1.6rem;
  font-weight: bold;
}