.container {
  align-items: center;
  background-color: rgb(93, 109, 126);
  box-shadow: 0 -0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  height: 5vh;
  justify-content: center;
  width: 100vw;
}

.text {
  font-size: 1.5rem;
}