.failure {
  background-color: rgb(238, 129, 129);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1.5rem 10rem 0rem;
  padding: 1rem;
  text-align: center;
}

.success {
  background-color: rgb(131, 243, 109);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1.5rem 10rem 0rem;
  padding: 1rem;
  text-align: center;
}