.container {
  align-items: center;
  background-color: rgb(93, 109, 126);
  box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
}

.logo {
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  margin-left: 5rem;
  padding: 1.2rem;
}

.navLinks {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 30vw;
}

.navRefs {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

.navRefs:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  border-bottom: 0.2rem solid gold;
}

p {
  cursor: default;
}