.container {
  align-items: center;
  background-color: rgb(93, 109, 126);
  border-bottom: 0.2rem solid gold;
  color: white;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
}

.logo {
  border: 0.2rem solid gold;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-left: 5rem;
  padding: 1.2rem;
}

.navLinks {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 30vw;
}

.navRefs {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.navRefs:hover {
  border-bottom: 0.2rem solid gold;
}